
.inTitle{
    display: block;
    width: 400px;
    height: 60px;
    border-radius:3px;
    padding-left: 10px;
    font-size:25px;
}
.inDes{
    display: block;
    width: 400px;
    height: 200px;
    border-radius:3px;
    padding-left: 10px;
    padding-top: 10px;
    font-size:25px; 
}
.inPri{
    display: block;
    width: 100px;
    height: 40px;
    border-radius:3px;
    padding-left: 10px;
    font-size:20px;
}
.content span{
    color:#333;
    font-size: 30px;
}
#btn{
width: 180px;
height: 60px;
color:red;
font-size: 30px;
}