table {
            border-collapse: collapse;
            text-align: center;
            font-size:20px;
            word-break: break-all;
        }
        table td, table th
        {
            border: 1px solid #cad9ea;
            color: #666;
            width:120px;
        }
        table thead th
        {
            background-color: #CCE8EB;
            width: 120px;
        }
        table tr:nth-child(odd)
        {
            background: #fff;
        }
        table tr:nth-child(even)
        {
            background: #F5FAFA;
        }
